<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Formacao Ramo da Vida</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">

</head>
<body>
    <div style="background-color: #555555;   background-image: url('/static/img/bddiploma.jpg') ; background-size: cover; background-repeat: no-repeat;"    class="background-verde">
        <!--headers-->
        <header>

            <div class="conteiner">
                <!--criando o menu-->
                <nav>
                    <div class="logo">
                        <img id="imgLogo" src="{{url_for('static',filename='img/logobg.png') }}" alt="imagem de fundo">
                        <a style="color:white;" href="/">CFP-RAMO DA VIDA</a>

                    </div>
                    <ul class="ul">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="/inscricao">Increva-se</li>
                        <li><a href="/cursos"><button class="btn-gradiente">Cursos</button></a></li>

                    </ul>
                    <div class="menu-icon">
                        <img src="{{url_for('static',filename='img/menu.png') }}" alt="logo menu">

                    </div>
                </nav>

            


            </div>
        </header>
        <!--tag main-->
        <main>
            <div class="conteiner">

                <!--main text-->
                <div class="main-text">

                    <h2>Centro de Formacao</h2>
                    <h1>Ramo da Vida
                    </h1>

                    <div>
                        <a href="/inscricao"><button class="btn-gradiente">Faca a Sua Inscricao</button></a>
                        <img  src="{{url_for('static',filename='img/ligaparanos.png') }}" alt="imagem de fundo">
                    </div>
                    
                </div>

                <div class="main-img">
                    <img style="border-radius: 50%; border: 4px solid #2964a8;" src="{{url_for('static',filename='img/cursos/celetroescavadeira.jpg') }}" alt="imagem principal">
                </div>
                <button class="bdroid">Faca a Sua Inscricao</button>

            </div>


        </main>
    </div>
    <!--aqui inicia a primeira section de info cursos-->


    <section class="resulCurso">
        <!--conteiner-->
        <div class="conteiner">

            <!--division of curses-->
            <div class="division-text">
                Formando com Qualidade para o Campo de Trabalho.

            </div>
            <!--and division curses-->


            <!--separection type curses-->
            <div class="division-numbers">
            <p>
                <span>7 cursos</span><br>
                tecnicos


            </p>
            <p>
                <span>2 cursos</span><br>
                linguisticos


            </p>
            <p>
                <span>8 cursos</span><br>
                Admistrativos


            </p>



            </div>
            <!--and separection curses-->


        </div>

        <!--fim do conteiner-->



    </section>

    <!--fim da section de info cursos-->


    <!-- section more curses-->
    <section class="difeCursos">
        <div class="conteiner">
            <div class="curso">
                <img src="{{url_for('static',filename='img/esc-bg.png') }}" alt="curso eletroescavadeira">
                <h3 class="tituloc">Retroescavadeira</h3>
                <p>
                    Curso de Operador de Máquinas Pesadas  é mais do que aprender a manusear equipamentos; é abrir portas para um futuro promissor, com oportunidades em diversos setores, como construção civil, mineração, agricultura e transporte. Não perca tempo! Invista no seu futuro com o *CFPRV* e construa uma carreira sólida e bem remunerada. <b><i>Inscreva-se agora</i></b>(Curso Presencial)
                </p>




            </div>
            <div class="curso">
                <img src="{{url_for('static',filename='img/cursos/cmontagemereparacaopc.jpg') }}" alt="curso eletroescavadeira">
                <h3 class="tituloc">Montagem e Reparacao de Computadores</h3>
                <p>
                    Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
                </p>




            </div>
            <div class="curso">
                <img src="{{url_for('static',filename='img/cursos/cingles.jpg') }}" alt="curso de ingles">
                <h3 class="tituloc">Ingles</h3>
                <p>
                    Você sabia que o inglês é a língua mais falada no mundo quando se trata de negócios, viagens e internet?*
Aprender inglês não é apenas estudar uma língua estrangeira – é ganhar acesso a novas oportunidades, conquistar um bom emprego, entender filmes e músicas sem legenda, fazer amizades internacionais e até viajar com mais liberdade.

*O inglês é a chave que abre portas para o mundo!*
E a melhor parte? Você pode começar a aprender agora, do zero, com um curso simples, prático e pensado para o seu dia a dia. Não importa sua idade ou experiência, você vai aprender a falar, ouvir, ler e escrever com confiança.

Invista no seu futuro, comece hoje e veja a diferença que o inglês pode fazer na sua vida.
Vem aprender com a gente – o mundo está te esperando! (Curso Online)
                </p>




            </div>




            
        </div>

        <br>
        



    </section>
    <!--and more curses-->

<!-- section more curses-->
<section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/ccontabilidadebasica.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Contabilidade Basica</h3>
            <p>
                Neste curso vais sair capacitado para operar maquinas pesadas (Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/secretariado.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Secretariado</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaoderecursoshumanos.jpg') }}" alt="curso de ingles">
            <h3 class="tituloc">Gestao de R. Humanos</h3>
            <p>
                Gestão de recursos humanos (RH)  é uma área que ajuda na administração de uma empresa ou seu negócio, venha connosco para aprender a recrutar e selecionar colaboradores ideais, proporcionar  satisfação aos colaboradores, construir uma relação vantajosa entre a empresa e os funcionários, minimizar os riscos no local de trabalho, ajudar a empresa a atingir os seus objectivos e muito mais. (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->
 <!-- section more curses-->
 <section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cmandarim.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Mandarim</h3>
            <p>
                Neste curso vais sair capacitado para operar maquinas pesadas (Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cmarketing.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Tecnico de Marketing</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaoambiental.jpeg') }}" alt="curso de ingles">
            <h3 class="tituloc">Gestao Ambiental</h3>
            <p>
                Ja parou para pensar como gerir o meio ambiente* Já ouviu falar da  pedra azul central, cercada por 10 pedras brilhantes tudo isso, simboliza o equilíbrio e a harmonia que a *Gestão Ambiental* busca para o planeta.
Chegou a hora venha e vamos juntos estudar como *gerir o ambiente* (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->
 <!-- section more curses-->
 <section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cagricultura.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Agricultura</h3>
            <p>
                Neste curso 🌱 Transforme sua paixão pela natureza em uma carreira de sucesso! No Centro de Formação Ramo da Vida, oferecemos um curso de agricultura que une teoria e prática para moldar futuros líderes do sector.

                🚜 "A agricultura é a base da vida. No nosso curso, você descobrirá como aplicar técnicas inovadoras e práticas sustentáveis que farão a diferença na sua comunidade e além!(Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaodeempresas.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Gestao de Empresas</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaodeprojectos.jpg') }}" alt="curso de ingles">
            <h3 class="tituloc">Gestao de Projectos</h3>
            <p>
                Gestão de projetos é uma forma de conduzir o trabalho de um grupo que envolve a implementação de ações que visam planejar, executar e controlar diversas atividades para alcançar os objectivos especificadas. (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    
</section>
<!-- and section curses -->
<section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cinformaticabasica.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Informatica Basica</h3>
            <p>
                Neste curso Descubra o Poder da Informática: O Futuro ao Seu Alcance!* Atualmente vivemos na era digital, onde a *tecnologia transforma o mundo a cada segundo*. Se você deseja estar à frente dessa revolução, o curso de Informática é o caminho certo! Vem a nós o <b>CFPRV</b> te põe afrente acredite....(Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/celetricistaauto.png') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Eletricidade Auto</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/chst.jpg') }}" alt="curso de ingles">
            <h3 class="tituloc">Higiene e Segurancas no Trabalho</h3>
            <p>
                Neste curso vai ter instrutores capacitados e formados na lingua inglesa (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->



    <section class="sc-and">
        <h2>Centro de Formacao Ramo da Vida</h2>
        <div class="conteiner">
            <div>
            
            <h4>Cursos Mais Concoridos</h4>
            <ul>

                <li>Maquinas Pesadas</li>
                <li>Ingles</li>
                <li>Contabilidade
                </li>
                <li>(HST)</li>
            </ul>
            </div>

            <div>
            <h4>Mais informacao sobre CFPRV</h4>
            <ul>
                <li>Whatsapp: 853134164</li>
                <li>Email: anselmoservic142@gmail.com</li>
                <li>Contacto: 853134164</li>
                <li>Local: Cidade de Chimoio
                </li>
                

            </ul>
            </div>
            




        </div>
        <ul class="ul-social">
            <li><a href="#"><img src="{{url_for('static',filename='img/facebook.png') }}" alt="icon fb"></a></li>
            <li><a href="#"><img src="{{url_for('static',filename='img/whatsapp.png') }}" alt="icon wp"></a></li>
            <li><a href="#"><img src="{{url_for('static',filename='img/gmail.png') }}" alt="icon Gmail"></a></li>


        </ul>
        <hr>
        <b><p>@desenvolvido pela <a href="https://buchlucas.github.io/BSoft/">BSoft Tecnologias</a></p><br>
        </b><p>aos 18/03/2025</p>

    </section>

    <!-- and section and -->





    <script src="{{url_for('static',filename='scripts/main.js') }}">
        

    </script>
</body>
</html>
