<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Formacao Ramo da Vida</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div style="background-color: #555555;   background-image: url('img/bddiplojma.jpg') ; background-size: cover; background-repeat: no-repeat;"    class="background-verde">
        <!--headers-->
        <header>

            <div class="conteiner">
                <!--criando o menu-->
                <nav>
                    <div class="logo">
                        <img id="imgLogo" src="img/logobg.png" alt="imagem de fundo">
                        <a style="color:white;" href="index.html">CFR-VIDA</a>

                    </div>
                    <ul class="ul">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contcto</a></li>
                        <li><a href="inscricao.html">Increva-se</li>
                        <li><a href="cursos.html"><button class="btn-gradiente">Cursos</button></a></li>

                    </ul>
                    <div class="menu-icon">
                        <img src="img/menu.png" alt="logo menu">

                    </div>
                </nav>

            


            </div>
        </header>
        <!--tag main-->
        <main>
            <div class="conteiner">

                <!--main text-->
                <div class="main-text">

                    <h2>Centro de Formacao</h2>
                    <h1>Ramo da Vida
                    </h1>

                    <div>
                        <a href="inscricao.html"><button class="btn-gradiente">Faca a Sua Inscricao</button></a>
                        <img  src="img/ligaparanos.png" alt="imagem de fundo">
                    </div>
                    
                </div>

                <div class="main-img">
                    <img src="img/cursos/celetroescavadeira.jpg" alt="imagem principal">
                </div>

            </div>


        </main>
    </div>
    <!--aqui inicia a primeira section de info cursos-->


    <section class="resulCurso">
        <!--conteiner-->
        <div class="conteiner">

            <!--division of curses-->
            <div class="division-text">
                Formando formados capacitados para o campo de trabalho.

            </div>
            <!--and division curses-->


            <!--separection type curses-->
            <div class="division-numbers">
            <p>
                <span>7 cursos</span><br>
                tecnicos


            </p>
            <p>
                <span>2 cursos</span><br>
                linguisticos


            </p>
            <p>
                <span>8 cursos</span><br>
                Admistrativos


            </p>



            </div>
            <!--and separection curses-->


        </div>

        <!--fim do conteiner-->



    </section>

    <!--fim da section de info cursos-->


    <!-- section more curses-->
    <section class="difeCursos">
        <div class="conteiner">
            <div class="curso">
                <img src="img/esc-bg.png" alt="curso eletroescavadeira">
                <h3 class="tituloc">Retroescavadeira</h3>
                <p>
                    Neste curso vais sair capacitado para operar maquinas pesadas (Curso Presencial)
                </p>




            </div>
            <div class="curso">
                <img src="img/cursos/cmontagemereparacaopc.jpg" alt="curso eletroescavadeira">
                <h3 class="tituloc">Montagem e Reparacao de Computadores</h3>
                <p>
                    Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
                </p>




            </div>
            <div class="curso">
                <img src="img/cursos/cingles.jpg" alt="curso de ingles">
                <h3 class="tituloc">Ingles</h3>
                <p>
                    Neste curso vai ter instrutores capacitados e formados na lingua inglesa (Curso Online)
                </p>




            </div>




            
        </div>

        <br>
        



    </section>
    <!--and more curses-->

<!-- section more curses-->
<section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="img/cursos/ccontabilidadebasica.jpg" alt="curso eletroescavadeira">
            <h3 class="tituloc">Contabilidade Basica</h3>
            <p>
                Neste curso vais sair capacitado para operar maquinas pesadas (Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/secretariado.jpg" alt="curso eletroescavadeira">
            <h3 class="tituloc">Secretariado</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/cgestaoderecursoshumanos.jpg" alt="curso de ingles">
            <h3 class="tituloc">Gestao de R. Humanos</h3>
            <p>
                Neste curso vai ter instrutores capacitados e formados na lingua inglesa (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->
 <!-- section more curses-->
 <section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="img/cursos/cmandarim.jpg" alt="curso eletroescavadeira">
            <h3 class="tituloc">Mandarim</h3>
            <p>
                Neste curso vais sair capacitado para operar maquinas pesadas (Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/cmarketing.jpg" alt="curso eletroescavadeira">
            <h3 class="tituloc">Tecnico de Marketing</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/cgestaoambiental.jpeg" alt="curso de ingles">
            <h3 class="tituloc">Gestao Ambiental</h3>
            <p>
                Neste curso vai ter instrutores capacitados e formados na lingua inglesa (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->
 <!-- section more curses-->
 <section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="img/cursos/cagricultura.jpg" alt="curso eletroescavadeira">
            <h3 class="tituloc">Agricultura</h3>
            <p>
                Neste curso vais sair capacitado para operar maquinas pesadas (Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/cgestaodeempresas.jpg" alt="curso eletroescavadeira">
            <h3 class="tituloc">Gestao de Empresas</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/cgestaodeprojectos.jpg" alt="curso de ingles">
            <h3 class="tituloc">Gestao de Projectos</h3>
            <p>
                Neste curso vai ter instrutores capacitados e formados na lingua inglesa (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    
</section>
<!-- and section curses -->
<section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="img/cursos/cinformaticabasica.jpg" alt="curso eletroescavadeira">
            <h3 class="tituloc">Informatica Basica</h3>
            <p>
                Neste curso vais sair capacitado para operar maquinas pesadas (Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/celetricistaauto.png" alt="curso eletroescavadeira">
            <h3 class="tituloc">Eletricidade Auto</h3>
            <p>
                Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="img/cursos/chst.jpg" alt="curso de ingles">
            <h3 class="tituloc">Higiene e Segurancas no Trabalho</h3>
            <p>
                Neste curso vai ter instrutores capacitados e formados na lingua inglesa (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->



    <section class="sc-and">
        <h2>Centro de Formacao Ramo da Vida</h2>
        <div class="conteiner">
            <div>
            
            <h4>Cursos Mais Concoridos</h4>
            <ul>

                <li>Maquinas Pesadas</li>
                <li>Eletricidade Auto</li>
                <li> Ingles e Mandarim
                </li>
                <li>Gestao R. Humanos</li>
            </ul>
            </div>

            <div>
            <h4>Mais informacao sobre CFRV</h4>
            <ul>
                <li>Whatsapp: 862111821</li>
                <li>Email: anselmoservic142@gmail.com</li>
                <li>Contacto: 862111821</li>
                <li>Local: Cidade de Chimoio
                </li>
                

            </ul>
            </div>
            




        </div>
        <ul class="ul-social">
            <li><a href="#"><img src="img/facebook.png" alt="icon fb"></a></li>
            <li><a href="#"><img src="img/whatsapp.png" alt="icon wp"></a></li>
            <li><a href="#"><img src="img/gmail.png" alt="icon Gmail"></a></li>


        </ul>
        <hr>
        <b><p>@desenvolvido pela <a href="#">BSoft Tecnologias</a></p><br>
        </b><p>aos 18/03/2025</p>

    </section>

    <!-- and section and -->





    <script src="scripts/main.js">
        

    </script>
</body>
</html>
