<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Formacao Ramo da Vida</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">

</head>
<body>
    <div style="background-color: #555555;   background-image: url('/static/img/bddiploma.jpg') ; background-size: cover; background-repeat: no-repeat;"    class="background-verde">
        <!--headers-->
        <header>

            <div class="conteiner">
                <!--criando o menu-->
                <nav>
                    <div class="logo">
                        <img id="imgLogo" src="{{url_for('static',filename='img/logobg.png') }}" alt="imagem de fundo">
                        <a style="color:white;" href="/">CFP-RAMO DA VIDA</a>

                    </div>
                    <ul class="ul">
                        <li><a href="/">Home</a></li>
                        
                        <li><a href="/inscricao">Increva-se</li>
                        <li><a href="/cursos"><button class="btn-gradiente">Cursos</button></a></li>

                    </ul>
                    <div class="menu-icon">
                        <img src="{{url_for('static',filename='img/menu.png') }}" alt="logo menu">

                    </div>
                </nav>

            


            </div>
        </header>
        <!--tag main-->
        <main>
            <div class="conteiner">

                <!--main text-->
                <div class="main-text">

                    <h2>Centro de Formação Profissional</h2>
                    <h1>Ramo da Vida
                    </h1>

                    <div>
                        <a href="/inscricao"><button class="btn-gradiente">Faça sua Inscrição</button></a>
                        <img  src="{{url_for('static',filename='img/ligaparanos.png') }}" alt="imagem de fundo">
                    </div>
                    
                </div>

                <div class="main-img">
                    <img style="border-radius: 50%; border: 4px solid #2964a8;" src="{{url_for('static',filename='img/cursos/celetroescavadeira.jpg') }}" alt="imagem principal">
                </div>
                <a href="/inscricao"><button class="bdroid">Faça sua Inscrição</button></a>

            </div>


        </main>
    </div>
    <!--aqui inicia a primeira section de info cursos-->


    <section class="resulCurso">
        <!--conteiner-->
        <div class="conteiner">

            <!--division of curses-->
            <div class="division-text">
                Formando com Qualidade para o Campo de Trabalho.

            </div>
            <!--and division curses-->


            <!--separection type curses-->
            <div class="division-numbers">
                <p>
                    <span>7 cursos</span><br>
                    Tecnicos
    
    
                </p>
                <p>
                    <span>2 cursos</span><br>
                    Linguísticos
    
    
                </p>
                <p>
                    <span>8 cursos</span><br>
                    Admistrativos
    
    
                </p>



            </div>
            <!--and separection curses-->


        </div>

        <!--fim do conteiner-->



    </section>

    <!--fim da section de info cursos-->


    <!-- section more curses-->
    <section class="difeCursos">
        <div class="conteiner">
            <div class="curso">
                <img src="{{url_for('static',filename='img/esc-bg.png') }}" alt="curso eletroescavadeira">
                <h3 class="tituloc">Retroescavadeira</h3>
                <p>
                    Curso de Operador de Máquinas Pesadas  é mais do que aprender a manusear equipamentos; é abrir portas para um futuro promissor, com oportunidades em diversos setores, como construção civil, mineração, agricultura e transporte. Não perca tempo! Invista no seu futuro com o *CFPRV* e construa uma carreira sólida e bem remunerada. <b><i>Inscreva-se agora</i></b>(Curso Presencial)
                </p>




            </div>
            <div class="curso">
                <img src="{{url_for('static',filename='img/cursos/cmontagemereparacaopc.jpg') }}" alt="curso eletroescavadeira">
                <h3 class="tituloc">Montagem e Reparacao de Computadores</h3>
                <p>
                    No curso de Montagem e Reparação de Computadores, Estarás no centro da procura com pouca demanda, visto que as estão adquirindo  Computadores pessoas com mais frequência e com a digitalização das empresas. Todas empresas precisam de um técnico de pora montar, reparar e instalar devidamente os sistemas computacional, Porque neste curso além de aprender a montar e reparar os computadores ,vai aprender a instalar e desinstalar sistema Windows, Linux, Mac e muito mais, Na CFPRV
                    Saira capacitado para atuar em diversas empresas e podes densevolver a sua própria empresa de prestação desses Serviços  Increva-se Agora!

                    (Curso Presencial)
                </p>




            </div>
            <div class="curso">
                <img src="{{url_for('static',filename='img/cursos/cingles.jpg') }}" alt="curso de ingles">
                <h3 class="tituloc">Ingles</h3>
                <p>
                    Você sabia que o inglês é a língua mais falada no mundo quando se trata de negócios, viagens e internet?*
Aprender inglês não é apenas estudar uma língua estrangeira – é ganhar acesso a novas oportunidades, conquistar um bom emprego, entender filmes e músicas sem legenda, fazer amizades internacionais e até viajar com mais liberdade.

*O inglês é a chave que abre portas para o mundo!*
E a melhor parte? Você pode começar a aprender agora, do zero, com um curso simples, prático e pensado para o seu dia a dia. Não importa sua idade ou experiência, você vai aprender a falar, ouvir, ler e escrever com confiança.

Invista no seu futuro, comece hoje e veja a diferença que o inglês pode fazer na sua vida.
Vem aprender com a gente – o mundo está te esperando! (Curso Online)
                </p>




            </div>




            
        </div>

        <br>
        



    </section>
    <!--and more curses-->

<!-- section more curses-->
<section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/ccontabilidadebasica.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Contabilidade Basica</h3>
            <p>
                Curso de Contabilidade Básica!

Você sabia que a contabilidade é a area fundamental para qualquer negócio? Entender como gerenciar finanças de maneira eficaz pode ser a chave para o sucesso pessoal e profissional. Se você deseja entrar no mundo dos negócios, melhorar seu desempenho no trabalho ou até mesmo começar seu próprio empreendimento, o Curso de Contabilidade Básica é o primeiro passo!


Por que escolher este curso?, não se preocupe! Nosso curso é projetado para quem está começando do zero. Acompanhe passo a passo e aprenda de maneira clara e prática.

Conceitos essenciais de forma prática: Você vai aprender os conceitos fundamentais da contabilidade, como ativos, passivos, receitas, despesas, e como analisar o balanço patrimonial e a demonstração de resultados de uma empresa.

, você terá uma vantagem competitiva no mercado de trabalho.
saber de contabilidade pode abrir portas para promoções e novas oportunidades de carreira. inscreva-se agora
 (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/secretariado.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Secretariado</h3>
            <p>
                Curso de Secretariado Profissional!

Você sabia que o secretariado é uma das áreas mais valorizadas e essenciais em qualquer organização? Se você busca uma profissão dinâmica,o Curso de Secretariado Profissional é o que você precisa para dar um grande passo na sua carreira!


Formação completa e prática: Nosso curso oferece o conhecimento fundamental para atuar com excelência em secretariado, abordando temas como organização de agenda, comunicação empresarial, atendimento ao público, e gestão de documentos, Você vai aprender ferramentas modernas e práticas que facilitam o trabalho diário de um secretário ou assistente executio.
 (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaoderecursoshumanos.jpg') }}" alt="curso de ingles">
            <h3 class="tituloc">Gestao de R. Humanos</h3>
            <p>
                Gestão de recursos humanos (RH)  é uma área que ajuda na administração de uma empresa ou seu negócio, venha connosco para aprender a recrutar e selecionar colaboradores ideais, proporcionar  satisfação aos colaboradores, construir uma relação vantajosa entre a empresa e os funcionários, minimizar os riscos no local de trabalho, ajudar a empresa a atingir os seus objectivos e muito mais. (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->
 <!-- section more curses-->
 <section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cmandarim.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Mandarim</h3>
            <p>
                Curso de Mandarim!

o Mandarim é a língua mais falada do mundo e uma das mais valiosas para quem deseja expandir horizontes profissionais e pessoais? O Curso de Mandarim é a oportunidade perfeita para você se destacar no mercado global, aprender uma nova cultura e abrir portas para novas oportunidades!


Nosso curso é projetado para levar você do básico ao avançado, com uma abordagem prática e dinâmica. Você aprenderá a falar, entender, ler e escrever em Mandarim de forma simples e divertida, sem complicação.

Cultura chinesa e negócios internacionais. Explorar as oportunidades de negócios com a China, uma das economias mais poderosas do mundo. Trabalhando em áreas como comércio internacional, turismo, ou outras indústrias relacionadas à China, aprender Mandarim é um grande diferenciaal.Inscreva-se agora e comece a aprender Mandarim de forma prática e envolvente.
 (Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cmarketing.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Tecnico de Marketing</h3>
            <p>
                Curso de Técnico de Marketing!

O marketing é uma das áreas mais dinâmicas e essenciais para qualquer negócio.Grandes oportunidades de crescimento e inovação, o Curso de Técnico de Marketing é a chave para você se destacar no mercado e dominar as técnicas que fazem a diferença nas empresas!

Por que escolher este curso? 

Formação completa e prática: Nosso curso oferece uma abordagem abrangente sobre as principais áreas do marketing, como marketing digital, pesquisa de mercado, estratégias de vendas, comunicação, branding e muito mais.
 Você estará preparado para atuar em diversos segmentos e se adaptar rapidamente às mudanças do mercado.

Aulas práticas e interativas: Aqui, você vai aprender fazendo! Desenvolva campanhas reais, utilize ferramentas de marketing digital e aprenda a criar estratégias eficazes com conteúdo atualizado e simulações de mercado.

Prepare-se para o mercado de trabalho: A demanda por profissionais de marketing qualificados está em alta! O curso oferece uma formação técnica, prática e voltada para as necessidades do mercado atual, garantindo que você esteja pronto para assumir responsabilidades de vendas e impulsionar o crescimento dos negócios.

 (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaoambiental.jpeg') }}" alt="curso de ingles">
            <h3 class="tituloc">Gestao Ambiental</h3>
            <p>
                Ja parou para pensar como gerir o meio ambiente* Já ouviu falar da  pedra azul central, cercada por 10 pedras brilhantes tudo isso, simboliza o equilíbrio e a harmonia que a *Gestão Ambiental* busca para o planeta.
Chegou a hora venha e vamos juntos estudar como *gerir o ambiente* (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->
 <!-- section more curses-->
 <section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cagricultura.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Agricultura</h3>
            <p>
                Neste curso 🌱 Transforme sua paixão pela natureza em uma carreira de sucesso! No Centro de Formação Ramo da Vida, oferecemos um curso de agricultura que une teoria e prática para moldar futuros líderes do sector.

                🚜 "A agricultura é a base da vida. No nosso curso, você descobrirá como aplicar técnicas inovadoras e práticas sustentáveis que farão a diferença na sua comunidade e além!(Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaodeempresas.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Gestao de Empresas</h3>
            <p>
                Gestão de Empresas!

Você está pronto para levar sua carreira ao próximo nível e se tornar um líder de sucesso? O Curso de Gestão de Empresas é a oportunidade ideal para quem busca entender todos os aspectos fundamentais da administração e gestão, desde o planejamento estratégico até a execução de ações que geram resultados. Prepare-se para tomar decisões mais assertivas, aprimorar sua liderança e alcançar o sucesso empresarial!

Por que escolher este curso?

 Nosso curso aborda todas as áreas essenciais da gestão empresarial, como planejamento estratégico, marketing, finanças, recursos humanos, gestão de operações e muito mais. Você vai aprender a otimizar processos, melhorar a performance da equipe e gerenciar recursos de forma eficiente.


Desenvolvimento de habilidades de liderança: O curso vai além da teoria e foca no desenvolvimento de habilidades práticas de gestão, como tomada de decisões, gestão de equipes, resolução de problemas e comunicação assertiva, essenciais para qualquer líder com 

Certificado de conclusão reconhecido no mercado

 e conduzir sua equipe para o sucesso.

Não perca a chance de se tornar um líder de sucesso! Inscreva-se agora.

 (Curso Online)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cgestaodeprojectos.jpg') }}" alt="curso de ingles">
            <h3 class="tituloc">Gestao de Projectos</h3>
            <p>
                Gestão de projetos é uma forma de conduzir o trabalho de um grupo que envolve a implementação de ações que visam planejar, executar e controlar diversas atividades para alcançar os objectivos especificadas. (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    
</section>
<!-- and section curses -->
<section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/cinformaticabasica.jpg') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Informatica Basica</h3>
            <p>
                Neste curso Descubra o Poder da Informática: O Futuro ao Seu Alcance!* Atualmente vivemos na era digital, onde a *tecnologia transforma o mundo a cada segundo*. Se você deseja estar à frente dessa revolução, o curso de Informática é o caminho certo! Vem a nós o <b>CFPRV</b> te põe afrente acredite....(Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/celetricistaauto.png') }}" alt="curso eletroescavadeira">
            <h3 class="tituloc">Eletricidade Auto</h3>
            <p>
                Curso de Eletricidade Automotiva!

Você sabia que o setor automotivo está cada vez mais tecnológico e que a eletricidade automotiva é uma área em grande crescimento? Se você deseja se tornar um profissional altamente qualificado e preparar-se para os desafios do mercado, o Curso de Eletricidade Automotiva é a oportunidade perfeita para impulsionar sua carreira e se destacar nesse setor inovador!

Por que escolher este curso? 

Formação técnica e atualizada: Nosso curso oferece um conteúdo completo sobre os sistemas elétricos dos veículos modernos, como circuitos elétricos, sensores, baterias, diagnóstico e manutenção de sistemas automotivos. Você aprenderá tudo o que precisa para diagnosticar e reparar os sistemas elétricos dos carros com eficácia.

Aulas práticas e diretas ao ponto: A teoria é importante, mas a prática é fundamental! Com nosso curso, você terá acesso a atividades práticas e estudos de casos reais que simulam os desafios do dia a dia de um eletricista automotivo.
 A eletricidade automotiva é um campo em constante evolução, e profissionais qualificados são altamente demandados. Ao concluir o curso, você estará pronto para atuar em concessionárias, oficinas, empresas de manutenção automotiva e muito mais.

u próprio ritmo e de qualquer.  Inscreva-se agora e inicie sua jornada rumo ao sucesso na eletricidade automotiva!
(Curso Presencial)
            </p>




        </div>
        <div class="curso">
            <img src="{{url_for('static',filename='img/cursos/chst.jpg') }}" alt="curso de ingles">
            <h3 class="tituloc">Higiene e Segurancas no Trabalho</h3>
            <p>
                Já pensou em Promover a cultura de prevenção e segurança em termos de organização e implementação de planos de emergência, fora de *Riscos, Acidentes, e dentro de padrões legislados*.

Ja parou para pensar sobre a *qualidade* usando as normas dos *ISO 4001,ISO 9001 e ISO 14001*, 
Venha a *CFPRV* e vamos juntos liderar, Desenvolver comportamentos seguros no domínio da Segurança e Higiene do Trabalho. (Curso Online)
            </p>




        </div>




        
    </div>

    <br>
    



</section>
<!--and more curses-->



    <section class="sc-and">
        <h2>Centros de Formação Profissional</h2>
        <div class="conteiner">
            <div>
            
            <h4>Cursos Mais Concoridos</h4>
            <ul>

                <li>Maquinas Pesadas</li>
                <li>Ingles</li>
                <li>Contabilidade
                </li>
                <li>(HST)</li>
            </ul>
            </div>

            <div>
            <h4>Mais informação sobre CFPRV</h4>            sobre CFPRV</h4>
            <ul>
                <li>Whatsapp: 853134164</li>
                <li>Email: anselmoservic142@gmail.com</li>
                <li>Contacto: 853134164</li>
                <li>Local: Cidade de Chimoio
                </li>
                

            </ul>
            </div>
            




        </div>
        <ul class="ul-social">
            <li><a href="#"><img src="{{url_for('static',filename='img/facebook.png') }}" alt="icon fb"></a></li>
            <li><a href="https://wa.link/i7bgnh"><img src="{{url_for('static',filename='img/whatsapp.png') }}" alt="icon wp"></a></li>
            <li><a href="mailto:anselmoservic142@gmail.com"><img src="{{url_for('static',filename='img/gmail.png') }}" alt="icon Gmail"></a></li>


        </ul>
        <a class="pp" href="/politicas&privacidade">politica de privacidade</a>
        <hr>
        <b><p>@desenvolvido pela <a href="https://buchlucas.github.io/BSoft/">BSoft Tecnologias</a></p><br>
        </b><p>aos 18/03/2025</p>

    </section>

    <!-- and section and -->





    <script src="{{url_for('static',filename='scripts/main.js') }}">
        

    </script>
</body>
</html>
