<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Formacao Ramo da Vida</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">

</head>
<body>
    <div style="background-color: #555555;   background-image: url('../static/img/bddiploma.jpg'); background-size: cover; background-repeat: no-repeat;"    class="background-verde">
        <!--headers-->
        <header>

            <div class="conteiner">
                <!--criando o menu-->
                <nav>
                    <div class="logo">
                        <img id="imgLogo" src="{{url_for('static',filename='img/logobg.png') }}" alt="imagem de fundo">
                        <a style="color:white;" href="/">CFP-RAMO DA VIDA</a>

                    </div>
                    <ul class="ul">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="/inscricao">Increva-se</a></li>
                        <li><a href="/cursos"><button class="btn-gradiente">Cursos</button></a></li>

                    </ul>
                    <div class="menu-icon">
                        <img src="{{url_for('static',filename='img/menu.png') }}" alt="logo menu">

                    </div>
                </nav>

            


            </div>
        </header>
        <!--tag main-->
        <main>

            <div class="conteiner" style="text-align: center;">

                <!--main text-->
                <h4 class="hdroid">Centro de Formacao Profissional<br> Ramo Da Vida</h4>
                <div style="text-align: left;" class="main-text">

                    <p style="font-size: 30px; color: white;"><b>Centro de Formacao</b></p>
                    <p style="font-size: 40px; color: white;"><b>Ramo da Vida</b>
                    </p>

                    <div>
                        <a href="/inscricao"><button class="btn-gradiente">Faca a Sua Inscricao</button></a>
                        <img  src="{{url_for('static', filename='img/ligaparanos.png') }}" alt="imagem de fundo">
                    </div>
                    
                </div>

                <div class="main-img">
                    <img src="{{url_for('static', filename='img/esc-bg.png') }}" alt="imagem principal">
                </div>
                <a href="/inscricao"><button class="bdroid">Faca a Sua Inscricao</button><a href="/inscricao"></a>

            </div>


        </main>
    </div>
    <!--aqui inicia a primeira section de info cursos-->


    <section class="resulCurso">
        <!--conteiner-->
        <div class="conteiner">

            <!--division of curses-->
            <div class="division-text">
                Formando com Qualidade para o Campo de Trabalho.

            </div>
            <!--and division curses-->


            <!--separection type curses-->
            <div class="division-numbers">
            <p>
                <span>7 cursos</span><br>
                tecnicos


            </p>
            <p>
                <span>2 cursos</span><br>
                linguisticos


            </p>
            <p>
                <span>8 cursos</span><br>
                Admistrativos


            </p>



            </div>
            <!--and separection curses-->


        </div>

        <!--fim do conteiner-->



    </section>

    <!--fim da section de info cursos-->




     
    <!-- section more curses-->
    <section class="difeCursos">
        <div class="conteiner">
            <div class="curso">
                <img src="{{url_for('static', filename='img/cursos/celetroescavadeira.jpg') }}" alt="curso eletroescavadeira">
                <h3 class="tituloc">Eletroescavadeira</h3>
                <p>
                    *Curso de Operador de Máquinas Pesadas* é mais do que aprender a manusear equipamentos;<br> é abrir portas para um futuro promissor, com oportunidades em diversos setores, como construção civil, mineração, agricultura e transporte. Não perca tempo! Invista no seu futuro com o *CFPRV* e construa uma carreira sólida e bem remunerada. <b><i>Inscreva-se agora</i></b></p>(Curso Presencial)
                </p>




            </div>
            <div class="curso">
                <img src="{{url_for('static', filename='img/cursos/cmontagemereparacaopc.jpg') }}" alt="curso eletroescavadeira">
                <h3 class="tituloc">Montagem e Reparacao de Computadores</h3>
                <p>
                    Neste curso vai aprender a montar, desmontar e reparar Computadores de  diversos tipos (Curso Online)
                </p>




            </div>
            <div class="curso">
                <img src="{{url_for('static', filename='img/cursos/cingles.jpg') }}" alt="curso de ingles">
                <h3 class="tituloc">Ingles</h3>
                <p>
                    Você sabia que o inglês é a língua mais falada no mundo quando se trata de negócios, viagens e internet?*
Aprender inglês não é apenas estudar uma língua estrangeira – é ganhar acesso a novas oportunidades, conquistar um bom emprego, entender filmes e músicas sem legenda, fazer amizades internacionais e até viajar com mais liberdade.

*O inglês é a chave que abre portas para o mundo!*
E a melhor parte? Você pode começar a aprender agora, do zero, com um curso simples, prático e pensado para o seu dia a dia. Não importa sua idade ou experiência, você vai aprender a falar, ouvir, ler e escrever com confiança. (Curso Online)
                </p>




            </div>




            
        </div>

        <br>
        <a href="/cursos"><button>VER TODOS CURSOS</button></a>



    </section>
    <!--and more curses-->

    <!-- section person om and graduectiom -->
    <section class="grad">
        <div class="conteiner">

            <!-- imagens de graduacoes pansagem de auto scroll -->
            <div class="img-grad">
                <img src="{{url_for('static', filename='img/bddiploma.jpg' ) }}" >
                


            </div>
            <!-- box show text about graduection -->
            <div class="box-text-gradh" >
                <h1 style="color: #2964a8; font-size: 25px;">Imagens de graduacao dos nossos alunos </h1>
                <p style="color: white; font-size: 17px;">
                    Aqui tem algumas imagens que mostram a graduacao 
                     dos nossos alunos, agora espandimos
                    temos cursos presencias tais como cursos Online.
                    <b>Tambem em cursos online vai receber o seu diploma</b> 
                </p>
            </div>

            <!-- and auto scroll image -->
        </div>
        <!-- <button>VER SOBRE GRADUACOES</button> -->
    </section>

    <!-- section and  -->
    <div style="height: 50px;">

    </div>
    <section class="sc-and">
        <h2>Centro de Formacao Ramo da Vida</h2>
        <div class="conteiner">
            <div>
            
            <h4>Cursos Mais Concoridos</h4>
            <ul>

                <li>Maquinas Pesadas</li>
                <li>Ingles</li>
                <li>Contabilidade
                </li>
                <li>(HST)</li>
            </ul>
            </div>

            <div>
            <h4>Mais informacao sobre CFPRV</h4>
            <ul>
                <li>Whatsapp: 853134164</li>
                <li>Email: anselmoservic142@gmail.com</li>
                <li>Contacto: 853134164</li>
                <li>Local: Cidade de Chimoio
                </li>
                

            </ul>
            </div>
            




        </div>
        <ul class="ul-social">
            <li><a href="#"><img src="{{url_for('static',filename='img/facebook.png') }}" alt="icon fb"></a></li>
            <li><a href="https://wa.link/i7bgnh"><img src="{{url_for('static',filename='img/whatsapp.png') }}" alt="icon wp"></a></li>
            <li><a href="mailto:anselmoservic142@gmail.com"><img src="{{url_for('static',filename='img/gmail.png') }}" alt="icon Gmail"></a></li>


        </ul>
        <a href="/politicas&privacidade">politica de privacidade</a>
        <hr>
        <b><p>@desenvolvido pela <a href="https://buchlucas.github.io/BSoft">BSoft Tecnologias</a></p><br>
        </b><p>aos 18/03/2025</p>

    </section>

    <!-- and section and -->



    <script src="{{url_for('static', filename='scripts/main.js') }}"></script>
        

    </script>
</body>
</html>
