<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Formacao Ramo da Vida</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">

</head>
<body>
    <div style="background-color: #555555;   background-image: url('/static/img/bddiploma.jpg') ; background-size: cover; background-repeat: no-repeat;"    class="background-verde">
        <!--headers-->
        <header>

            <div class="conteiner">
                <!--criando o menu-->
                <nav>
                    <div class="logo">
                        <img id="imgLogo" src="{{url_for('static',filename='img/logobg.png') }}" alt="imagem de fundo">
                        <a style="color:white;" href="/">CFP-RAMO DA VIDA</a>

                    </div>
                    <ul class="ul">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="/inscricao">Increva-se</li>
                        <li><a href="/cursos"><button class="btn-gradiente">Cursos</button></a></li>

                    </ul>
                    <div class="menu-icon">
                        <img src="{{url_for('static',filename='img/menu.png') }}" alt="logo menu">

                    </div>
                </nav>

            


            </div>
        </header>
        <!--tag main-->
        <main>
            <div class="conteiner">

                <!--main text-->
                <div class="main-text">

                    <h2>Centro de Formacao</h2>
                    <h1>Ramo da Vida
                    </h1>

                    <div>
                        <button class="btn-gradiente">Faca a Sua Inscricao</button>
                        <img  src="{{url_for('static',filename='img/ligaparanos.png') }}" alt="imagem de fundo">
                    </div>



                </div>

                <div class="main-img">
                    <div class="boxForm">
                        <form method="post" action="/inscricao" enctype="multipart/form-data">
                            <h3>{{titulof}}</h3>
                            <input placeholder="Nome: " type="text" name="nome_completo" required><br>
                            <label>Data de Naicimento: </label>
                            <input type="date" name="data_" placeholder="Naicimento data/mes/ano" required><br>

                            <label>Documento de Identidade em PDF</label>
                            <input type="file" name="documento_foto_" required>
                            <label for="">Certificado em PDF 7 a 12 class</label>
                            <input type="file" name="certificado_foto_" required>
                            <select id="cursos" name="curso_" >

                                <option value="none">Selecionar Curso</option>
                                <option value="Retroecavadeira">Retroecavadeira</option>
                                <option value="Empilhadeira">Empilhadeira</option>
                                <option value="Ingles">Ingles</option>
                                <option value="Montagem e Reparacao de Concoridos">Montagem e Reparacao de Computadores</option>
                                <option value="Gestao de R. Humanos">Gestao de R. Humanos</option>
                                <option value="Mandarim">Mandarim</option>
                                <option value="Tecnico de Marketing">Tecnico de Marketing</option>
                                <option value="Gestao Ambiental">Gestao Ambiental</option>
                                <option value="Agricultura">Agricultura</option>
                                <option value="Gestao de Empresas">Gestao de Empresas</option>
                                <option value="Gestao de Projectos">Gestao de Projectos</option>
                                <option value="Informatica Basica">Informatica Basica</option>
                                <option value="Eletricidade Auto">Eletricidade Auto</option>
                                <option value="Higiene e Seguranca no Trabalho">Higiene e Seguranca no Trabalho</option>
                                
                            </select><br>
                            <button type="submit" value="Upload">Submeter Inscricao</button>
                        </form>
                    </div>
                </div>

            </div>


        </main>
    </div>
    <!--aqui inicia a primeira section de info cursos-->


    <section class="resulCurso">
        <!--conteiner-->
        <div class="conteiner">

            <!--division of curses-->
            <div class="division-text">
                Formando com Qualidade para o Campo de Trabalho.

            </div>
            <!--and division curses-->


            <!--separection type curses-->
            <div class="division-numbers">
            <p>
                <span>7 cursos</span><br>
                tecnicos


            </p>
            <p>
                <span>2 cursos</span><br>
                linguisticos


            </p>
            <p>
                <span>8 cursos</span><br>
                Admistrativos


            </p>



            </div>
            <!--and separection curses-->


        </div>

        <!--fim do conteiner-->



    </section>

    <!--fim da section de info cursos-->

    <section class="sc-and">
        <h2>Centro de Formacao Ramo da Vida</h2>
        <div class="conteiner">
            <div>
            
            <h4>Cursos Mais Concoridos</h4>
            <ul>

                <li>Maquinas Pesadas</li>
                <li>Ingles</li>
                <li>Contabilidade
                </li>
                <li>(HST)</li>
            </ul>
            </div>

            <div>
            <h4>Mais informacao sobre CFPRV</h4>
            <ul>
                <li>Whatsapp: 853134164</li>
                <li>Email: anselmoservic142@gmail.com</li>
                <li>Contacto: 853134164</li>
                <li>Local: Cidade de Chimoio
                </li>
                

            </ul>
            </div>
            




        </div>
        <ul class="ul-social">
            <li><a href="#"><img src="{{url_for('static',filename='img/facebook.png') }}" alt="icon fb"></a></li>
            <li><a href="https://wa.link/i7bgnh"><img src="{{url_for('static',filename='img/whatsapp.png') }}" alt="icon wp"></a></li>
            <li><a href="mailto:anselmoservic142@gmail.com"><img src="{{url_for('static',filename='img/gmail.png') }}" alt="icon Gmail"></a></li>


        </ul>
        <a class="pp" href="/politicas&privacidade">politica de privacidade</a>
        <hr>
        <b><p>@desenvolvido pela <a href="https://buchlucas.github.io/BSoft/">BSoft Tecnologias</a></p><br>
        </b><p>aos 18/03/2025</p>

    </section>

    <!-- and section and -->



    <script src="{{url_for('static', filename='scripts/main.js') }}">
        

    </script>
</body>
</html>
