<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Formacao Ramo da Vida</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">

</head>
<body>
    
    <!--aqui inicia a primeira section de info cursos-->

<!-- section more curses-->
<section class="difeCursos">
    <div class="conteiner">
        <div class="curso">
            
            <h3 class="tituloc">O CENTRO DE FORMACAO RAMO DA VIDA</h3>
            <p>
                
Quando você usa nossa plataforma, está confiando a nós suas informações e dados pessoais
no sistema de cadastro a nos, temos nocao dessa imensa responsabilidade.


Isso destina se a voce que esta cadastrado ou deseja se cadastrar e estas com duvidas de nos confiar os seus 
dados pessoais.

As suas informacoes estao segura quando as introduz no nosso sistema passam por uma criptografia e passados passados
para o sevidor da google protegido com mais uma criptografia TLS fazendo com que os seus dados sejam practicamente 
inraquiaveis.

A nossa enquipe de Densevolvedores/Programadores estao sempre a trabalhar para manter e aumentar a seguranca da nossa
plataforma e assim dos seus dados pessoas



De CENTRO DE FORMACAO RAMO DA VIDA

            </p>




        </div>

    </div>

    <br>
    



</section>
<!--and more curses-->
 <!-- section more curses-->
 
    <script src="{{url_for('static',filename='scripts/main.js') }}">
        

    </script>
</body>
</html>